@charset "UTF-8";
h1 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px red;
}

.sub {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: gray;
    color: #fff;
    border-radius: 3px
}


p.example1{
color:#7b6459;
 background: #fad3cf;
  box-shadow: 0px 0px 0px 5px #fad3cf;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

span.example2{text-align: left;
			font-size: xx-large;
			font-weight: 700;
			 position: relative;/*相対位置*/
  padding-left: 1.2em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: #7b6459;/*文字色*/
  margin-right: 30px;}
 
div.example2toLeft{text-align: left;}
span.example3{color:red;
			font-size:medium;
			margin-right: 30px;}
span.example4{color:red;
 			font-size:large;}

 			.heart {
    display: inline-block;
    color: #333;/*線の色*/
    position: relative;
    margin-top: 6px;/*要調整*/
    margin-left: 5px;/*要調整*/
    width: 9px;
    height: 9px;
    border-left: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    transform: rotate(-45deg) scale(1);/*scale要調整*/
    background: red;/*背景色*/
}
.heart:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -1px;
    width: 8px;
    height: 5px;
    border-radius: 5px 5px 0 0;
    border-top: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    background: red;/*背景色*/
}
.heart:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 8px;
    width: 5px;
    height: 8px;
    border-radius: 0 5px 5px 0;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    background: red;/*背景色*/
}
span.example5{color:black;
				margin-left: auto;
    margin-right: auto;}
span.example6{width:300px;}


.welcome{
display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;
  background: #f57a78;
  color: #FFF;
  box-sizing: border-box;

}
.welcome h1{
	margin: 0;
  padding: 0 30px;
  border-top: dashed 2px rgba(255, 255, 255, 0.5);
  border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
  line-height: 42px;
}

.welcome:before, .welcome:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;

}

.welcome:before {
  /*左の山形*/
  top: 0;
  left: 0;
  border-width: 30px 0px 30px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;

}

.welcome:after {
  /*右の山形*/
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

a{
    font-size: 18px;
    margin: 8px;
    text-decoration: underline;
    color: #f3587c;
}

.top {
  display:inline-block;
  text-align:center;
  width:100%;
}

